#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

&lt {
    quick-tap-ms = <300>;
    flavor = "balanced";
};

/ {
    combos { compatible = "zmk,combos"; };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp LEFT_ALT      &kp Q             &kp W  &kp E  &kp R        &kp T                                    &kp Y    &kp U      &kp I      &kp O    &mt EXCL P          &kp BACKSPACE
&kp LEFT_SHIFT    &kp A             &kp S  &kp D  &kp F        &kp G                                    &kp H    &lt 3 J    &kp K      &kp L    &mt MINUS QUESTION  &kp ENTER
&kp LEFT_CONTROL  &mt LEFT_SHIFT Z  &kp X  &kp C  &lt 4 V      &kp B        &kp CAPSLOCK    &kp DELETE  &kp N    &kp M      &kp COMMA  &kp DOT  &kp RC(C)           &kp RC(V)
                                                  &lt 1 SPACE  &lt 2 SPACE  &kp ENTER       &kp BSPC    &kp RET  &kp SPACE
            >;
        };

        number {
            bindings = <
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5                        &kp F1     &kp F2      &kp F3   &kp F4   &kp F5   &trans
&trans  &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0                        &kp F6     &kp F7      &kp F8   &kp F9   &kp F10  &trans
&trans  &kp F1        &kp F2        &kp F3        &kp F4        &kp F5        &trans    &trans      &kp F11    &kp F12     &kp F13  &kp F14  &kp F15  &trans
                                                  &trans        &trans        &trans    &kp DELETE  &kp ENTER  &kp ESCAPE
            >;
        };

        kigou {
            bindings = <
&trans  &trans  &trans     &trans      &trans  &trans                    &kp QUESTION   &trans  &trans  &trans  &kp PERCENT  &trans
&trans  &kp AT  &kp HASH   &kp DOLLAR  &trans  &trans                    &kp EXCL       &trans  &trans  &trans  &trans       &trans
&trans  &trans  &kp ASTRK  &kp CARET   &trans  &trans  &trans    &trans  &kp AMPERSAND  &trans  &trans  &trans  &trans       &trans
                                       &trans  &trans  &trans    &trans  &trans         &trans
            >;
        };

        arrow {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                                &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        bluetooth {
            bindings = <
&bt BT_CLR      &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                    &trans  &trans  &trans  &trans  &trans  &trans
&bt BT_CLR_ALL  &trans        &trans        &trans        &trans        &trans                          &trans  &trans  &trans  &trans  &trans  &trans
&trans          &trans        &trans        &trans        &trans        &trans        &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                                                          &trans        &trans        &trans    &trans  &trans  &trans
            >;
        };
    };
};
